body
{
  text-align:center;
  background-color: #89B5AF ;
}
h2
{
  margin-top:3rem;
}
.paragraph
{
  display:inline;
}
.weight-div
{
    margin:2rem;
}
.Table-div
{
  text-align: center;
}
table,th,td
{
  border:solid;
  border-width:2px;

}
table
{
    margin-left:auto;
    margin-right:auto;

}
th,td
{
  padding:10px;
}
#btn
{
    margin:2rem auto;
    margin-left:3rem;
    background:#B4C6A6;
}
#btn1
{
    margin:2rem auto ;
    margin-left:1em;
    background:#B4C6A6;
}
a
{
  text-decoration: none;
}
